/* reservation popup */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.booking-widget {
    background: #fff;
    border: none;
    border-radius: 16px !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.booking-widget .form-control,
.booking-widget select {
    border-radius: 10px;
}

.booking-widget .btn {
    border-radius: 10px;
}

.room-dropdown .dropdown-toggle {
    background: none;
    border: none;
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.room-dropdown .dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-menu {
    border-radius: 10px;
}


/* map widget */
.carousel-indicators [data-bs-target] {
    background-color: grey;  /* normal indicator */
}

.carousel-indicators .active {
    background-color: #333;  /* highlight color */
}

.carousel-control-prev-icon {
    filter: invert(1); /* makes white arrows black */
}

.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-inner svg {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.carousel-item svg {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}